.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/**
  |============================
  | Components
  |============================
*/

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  color: #2e2f42;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;

  color: #2e2f42;
}
.page-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-weight: 500;

  color: #434455;
}

.page-text-theme-light {
  color: #434455;
}

.page-text-theme-dark {
  color: #f4f4fd;
}

.modal-btn {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  text-align: center;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean, #404bbf);
  color: #ffffff;
}

/**
  |============================
  | Header
  |============================
*/

.page-header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin-left: auto;
}

.logo-link-header {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-link-footer {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;

  color: #4d5ae5;
}

.logo-color {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;
}

.logo-link-theme-light {
  color: #2e2f42;
}

.logo-link-theme-dark {
  color: #f4f4fd;
}

.header-background {
  background-color: #ffffff;
}

/**
  |============================
  | /Header
  |============================
*/

/**
  |============================
  | Mobile Menu
  |============================
*/

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 40px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background: #e7e9fc;
  width: 24px;
  height: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobail-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-close:hover .mobile-close-icon,
.mobile-menu-close:focus .mobile-close-icon {
  fill: #ffffff;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}

.mobile-contact-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-number {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  color: #4d5ae5;
}

.mobile-email {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  color: #434455;
}

.mobile-social-list {
  display: flex;
  gap: 56px;
  margin-top: 48px;
}

.mobile-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list-link:hover,
.mobile-social-list-link:focus {
  background-color: #404bbf;
}

.mobile-social-list-icon {
  fill: #f4f4fd;
}

/**
  |============================
  | /Mobile Menu
  |============================
*/

/**
  |============================
  | Hero
  |============================
*/
.main-title {
  font-size: 36px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  max-width: 320px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 115px 0 115px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-background.jpg);
  background-size: cover;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-background@2x-mobile.webp);
  }
}
/**
  |============================
  | /Hero
  |============================
*/
/**
  |============================
  | Main
  |============================
*/

/* Advantages */

.advantages-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}

.advantages-subtitle {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

/* Advantages Icons */

.advantages-icons {
  display: none;
}

/* /Advantages */

/* Team */

.team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
}

.team-list-item {
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  text-align: center;
  background: var(--white, #fff);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-background {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .team-list {
    gap: 72px;
  }
}

/* Social List */

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-icon {
  fill: #f4f4fd;
}

.section-title {
  margin-bottom: 72px;
}

/* /Team */

/* Customers */

.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 24px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  background-color: #ffffff;
  color: #8e8f99;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icon:hover,
.customers-icon:focus {
  border-color: #404bbf;
  fill: #404bbf;
}

.customers-icon {
  fill: currentColor;
}
/* /Customers */

/*|============================
  | Footer
  |============================
*/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-form-container {
  margin-left: 0;
}

.text-footer {
  width: 268px;
  font-weight: 400;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-text {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 268px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-logo-text {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-social-wrapper {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

/* Email Input */

.subscribe-wrapper {
  display: flex;
}

.footer-email {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-email-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-input {
  display: flex;

  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  opacity: 0.30000001192092896;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffff;
}

@media screen and (max-width: 767px) {
  .footer-input {
    width: 100%;
  }
  .footer-form-container {
    width: 100%;
  }
}

.footer-input::placeholder {
  color: #ffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-subscribe-btn {
  background-color: #4d5ae5;
  color: #ffff;
  border: none;
  border-radius: 4px;
  width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--ocean, #404bbf);
  color: #ffffff;
}

.subscribe-icon {
  fill: #ffff;
  margin-left: 16px;
}

/* /Email Input */

/**
  |============================
  | /Footer
  |============================
*/

/**
  |============================
  | Modal Window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container {
  margin-bottom: 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background: #e7e9fc;
  width: 24px;
  height: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .close-button-icon,
.modal-close-btn:focus .close-button-icon {
  fill: #ffffff;
}

/* Modal Form */

.form-container {
  margin-bottom: 8px;
}

.form-container-comment {
  margin-bottom: 16px;
}

.modal-form-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-comment {
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #2e2f4266;
}

.modal-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-desc {
  display: block;
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-icon {
  display: flex;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-check-desc {
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  fill: transparent;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-desc .icon-wrapper {
  background-color: #404bbf;
  border-radius: 2px;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-form-check {
  appearance: none;
}

.policy-link {
  color: #4d5ae5;
}

.modal-form-submit {
  display: flex;
  display: block;
  justify-content: center;
  align-self: center;
  align-items: center;
  min-width: 169px;
  height: 56px;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--ocean, #404bbf);
  color: #ffffff;
}

/* /Modal Form */

/**
  |============================
  | /Modal Window
  |============================
*/

@media screen and (max-width: 1140px) {
  .speciality-section {
    display: none;
  }

  .menu {
    display: none;
  }
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
