:root {
  --defolt-background: #ffffff;
  --dominant-color: #434455;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;

  color: #434455;

  background-color: var(--defolt-background);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Components
  |============================
*/

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  text-align: center;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean, #404bbf);
  color: #ffffff;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  color: #2e2f42;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;

  color: #2e2f42;
}
.page-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: #434455;
}

.page-text-theme-light {
  color: #434455;
}

.page-text-theme-dark {
  color: #f4f4fd;
}
/**
  |============================
  | /Components
  |============================
*/
/**
  |============================
  | Header
  |============================
*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.contact-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo-link-header {
  margin-right: 76px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.logo-link-header {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-link-footer {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;

  color: #4d5ae5;
}

.logo-color {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;
}

.logo-link-theme-light {
  color: #2e2f42;
}

.logo-link-theme-dark {
  color: #f4f4fd;
}

.menu-link {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-main {
  color: #404bbf;
}

.menu-link-portfolio {
  color: #404bbf;
}

.menu-link-portfolio::after {
  content: '';
  position: absolute;
  left: 0;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 66px;
  height: 4px;
  bottom: -1px;
}

.menu-link-main::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 48.02px;
  height: 4px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  margin-left: auto;
}

.contact:hover {
  color: #404bbf;
}

.contact:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.header-background {
  background-color: #ffffff;
}

/**
  |============================
  | /Header
  |============================
*/
/**
  |============================
  | Hero
  |============================
*/
.main-title {
  font-size: 56px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-background.jpg);
  background-size: cover;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
}
/**
  |============================
  | /Hero
  |============================
*/
/**
  |============================
  | Main
  |============================
*/

/* Advantages */

.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.advantages-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

/* Advantages Icons */

.advantages-icons {
  display: flex;
  align-items: center;
}

.advantages-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
}

/* /Advantages */

/* Speciality */

.speciality-section {
  padding-bottom: 120px;
}

.section-background {
  background-color: #fff;
}

.speciality-title {
  margin-bottom: 8px;
}

.speciality-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.speciality-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* /Speciality */

/* Team */

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  text-align: center;
  background: var(--white, #fff);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-background {
  background-color: #ffffff;
}

/* Social List */

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-icon {
  fill: #f4f4fd;
}

.section-title {
  margin-bottom: 72px;
}

/* /Team */

/* Customers */

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  background-color: #ffffff;
  color: #8e8f99;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icon:hover,
.customers-icon:focus {
  border-color: #404bbf;
  fill: #404bbf;
}

.customers-icon {
  fill: currentColor;
}
/* /Customers */
/**
  |============================
  | /Main
  |============================
*/
/**
  |============================
  | Filters
  |============================
*/
.filter-btn {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;

  color: #4d5ae5;
  background-color: #f4f4fd;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.filter-btn:hover {
  background: var(--ocean, #404bbf);
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:focus {
  background-color: var(--ocean, #404bbf);
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/**
  |============================
  | /Filters
  |============================
*/
/**
  |============================
  | Portfolio
  |============================
*/
.portfolio-page-section {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-basis: calc((100% - 8 * 24px) / 9);
  row-gap: 48px;
}

.portfolio-card {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
  background: var(--white, #fff);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  overflow: auto;
  transform: translate(0, 100%);
  display: flex;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translate(0, 0);
}

/**
  |============================
  | /Portfolio
  |============================
*/

/*|============================
  | Footer
  |============================
*/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-footer {
  min-width: 264px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-text {
  display: flex;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-social-wrapper {
  margin-right: 120px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

/* Email Input */

.subscribe-wrapper {
  display: flex;
}

.footer-email {
  display: flex;
  gap: 24px;
}

.footer-email-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffff;
  margin-bottom: 16px;
}

.footer-input {
  display: flex;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffff;
}

.footer-input::placeholder {
  color: #ffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-subscribe-btn {
  background-color: #4d5ae5;
  color: #ffff;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--ocean, #404bbf);
  color: #ffffff;
}

.subscribe-icon {
  fill: #ffff;
  margin-left: 16px;
}

/* /Email Input */

/**
  |============================
  | /Footer
  |============================
*/
/**
  |============================
  | Modal Window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container {
  margin-bottom: 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background: #e7e9fc;
  width: 24px;
  height: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .close-button-icon,
.modal-close-btn:focus .close-button-icon {
  fill: #ffffff;
}

/* Modal Form */

.form-container {
  margin-bottom: 8px;
}

.form-container-comment {
  margin-bottom: 16px;
}

.modal-form-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-comment {
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #2e2f4266;
}

.modal-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-desc {
  display: block;
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-icon {
  display: flex;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-check-desc {
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  fill: transparent;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-desc .icon-wrapper {
  background-color: #404bbf;
  border-radius: 2px;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-form-check {
  appearance: none;
}

.policy-link {
  color: #4d5ae5;
}

.modal-form-submit {
  display: flex;
  display: block;
  justify-content: center;
  align-self: center;
  align-items: center;
  min-width: 169px;
  height: 56px;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--ocean, #404bbf);
  color: #ffffff;
}

/* /Modal Form */

/**
  |============================
  | /Modal Window
  |============================
*/
